body{
	background-color: #36798c;
	margin: 0;
	padding: 0;
}


/*about login*/

#lo_container{
	height: 222px;
	width: 20%;
	margin: 200px auto;
	padding: 30px;
	overflow: hidden;
	border: 3px solid #eee;
	border-radius: 5px;
	position: relative;
	min-width: 240px;
	max-width: 220px;
	min-height: 250px;
	max-height: 250px;
}

#clearfix{
	clear: both;
}

#lo_div{
	position: absolute;
	float: left;
	top: 0;
	left: 0;
	height: auto;
	width: 100%;
}
#re_div{
	position: absolute;
	float: left;
	top: 0;
	left: 100%;
	height: auto;
	width: 100%;
}
#to_re{
	display: block;
	width: 90px;
	margin: 15px 15px;
	color: white;
	font-size: 16px;
	font-family: "微软雅黑";
	cursor: pointer;
	float: right;
}
#to_re:hover{
	color: #0f88eb;
}
#to_lo{
	display: block;
	width: 90px;
	margin: 15px 15px;
	color: white;
	font-size: 16px;
	font-family: "微软雅黑";
	cursor: pointer;
	float: left;
}
#to_lo:hover{
	color: #0f88eb;
}

.lo_info{
	list-style-type: none;
	margin: auto;
	padding: 8% 8% 3% 8%;
}

.alert{
	color: #dd4c6b;
	font-family: "微软雅黑";
	font-size: 16px;
	text-align: center;
	margin: 0 0 10px 0;
}


ul.lo_info li
{
	height: auto;
	width: auto;
	margin: 10px 5px;
}

ul.lo_info li input
{
	width: 100%;
	font-size: 16px;
	color: #c0c0c0;
	padding: 14px 0;
	border: 1px solid #606060;
	border-radius: 5px;
	text-align: center;
	font-family: "微软雅黑";
}
#submit{
	display: block;
	margin: 10px auto;
	width: 80%;
	height: 40px;
	font-family: "微软雅黑";
	font-size: 16px;
	color: white;
	background-color: #0f88eb;
	border: 1px solid #0f88eb;
	border-radius: 5px;
	cursor: pointer;
}
#submit:hover{
	color: #0f88eb;
	background-color: white;
}


















/*about home*/
#container{
	width: 1000px;
	margin: 0 auto;
	padding: 10px 3%;
	background-color: #fafafa;
}

/*banner*/
#banner{
	width: 100%;
	border-bottom: 1px solid #cdcdcd;
}

/*logo*/
#logo{
	padding: 10px 0 0 30px;
	float: left;
}
img.pic{
	display: block;
	float: left;
	width: 100px;
}
img.text{
	display: block;
	float: left;
	width: 300px;
	margin: 20px 0 0 20px;
}
span.biggest{
	margin: 20px 20px;
	display: block;
	float: left;
	font-family: "微软雅黑";
	font-size: 40px;
	font-weight: normal;
}
/*logo*/


/*header*/
#banner_header{
	float: right;
	font-family: "微软雅黑";
	margin: 30px 10px 0 0;
	text-align: right;
}
.up{

}
.down{
	/*margin: 10px 0 0 50px;*/
}

span.crucial{
	font-size: 30px;
	font-weight: normal;
}
span.normal{
	font-size: 20px;
	font-weight: normal;
}

/*header*/

/*nav*/
.a_nav{
	margin: 10px 0 0 0;
	float: left;
}
.exit{
	float: right;
	margin-top: 17px;
	height: 100%;
	padding: 7px;
	font-family: "微软雅黑";
	font-size: 15px;
}
.exit a{
	text-decoration: none;
	color: #dd4c6b;
}
.exit a:hover{
	text-decoration: underline;
	color: #303030;
}
ul.a_nav_ul{
	list-style-type: none;
	padding: 0;
	margin: 0 0 0 20px;
}
ul.a_nav_ul li{
	float: left;
	width: auto;
	height: auto;
	margin: 3px;
	text-align: center;
}
ul.a_nav_ul li a{
	display: block;
	width: 80px;
	height: 100%;
	padding: 7px;
	text-decoration: none;
	font-family: "微软雅黑";
	font-size: 16px;
	color: black;
	border-radius: 3px;
}
ul.a_nav_ul li a:hover{
	background-color: #eee;
	font-weight: bold;
}
ul.a_nav_ul li span{
	cursor: default;
	display: block;
	width: 80px;
	height: 100%;
	padding: 7px;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #dd4c6b;
	border-radius: 3px;
}
ul.a_nav_ul li span:hover{
	background-color: #eee;
	font-weight: bold;
	
}
.nav_current{
	font-weight: bold;
}

/*content*/
#content{
	width: 100%;
	margin: 20px 0 10px 0;
	font-family: "微软雅黑"
}
/*content*/

/*tips*/
#tips{
	float: left;
	width: 200px;
}
#tips h3{
	font-family: "微软雅黑";
	margin: 5px;
	font-weight: normal;
}
#slider{
	padding: 3px;
	background-color: #eee;
}
marquee{
	width: 100%;
	font-family: "微软雅黑";
	line-height: 20px;
}
#searcher{
	margin: 50px 2px 10px 2px;
}
.search{
	max-width: 80px;
	margin: 0 2px;
}
/*tips*/


/*main*/
#main{
	float: left;
	width: 739px;
	margin: 0 10px;
	padding: 0 20px;
	border-left: 1px solid #cdcdcd;
}

h1{
	font-size: 44px;
	font-weight: 500;
	margin: 0 0 10px 10px; 
	padding: 0;
	display: block;
	float: left;
}



/*log_search*/
#log_search{
	float: right;
	margin: 40px 10px 0 0;
}
/*log_search*/






/*pager*/
#pager ul.pages {
	display: block;
	border: none;
	text-transform: uppercase;
	font-size: 12px;
	margin: 0 30px;
	padding: 0;
	font: normal 13px "Microsoft YaHei";
	font-family: "Microsoft YaHei","微软雅黑","sans-serif";
}
#pager ul.pages li {
	float: left;
	padding: 4px 7px;
	text-decoration: none; /*border: 1px solid #dddddd;*/
	border-left-width: 0;
	list-style: none;
	background-color: #eee;
	color: #888;
	margin: 0 3px 0 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#pager ul.pages li:hover {
	color: #fff;
	background-color: #3c4852;
}
#pager ul.pages li.pgNext {
}
#pager ul.pages li.pgEmpty {
	display: none;
}
#pager ul.pages li.pgCurrent {
	color: #fff;
	font-weight: 700;
	background-color: #dd4c6b;
}
/*pager*/

/*table*/
table{
	margin: 20px 0;
	border-collapse: collapse;
	border: 1px solid #ddd;
	background-color: #f7f7f7;
	width: 100%;
}
thead{
	background-color: #76bbcc;
}
tr{
	display: table-row;
}
th, td{
	padding: 6px 10px 6px 5px;
	text-align: left;
	vertical-align: middle;
	font-size: 14px;
}
#problems thead tr th, #problems tbody tr td{
	text-align: left;
} 
.center{
	text-align: center;
}
tbody tr td{
	max-width: 518px;
	min-width: 35px;
	font-size: 13px;
	word-wrap: break-word;
}
tbody tr:nth-child(even){
	background-color: #e5ecf9;
}
td a{
	text-decoration: none;
	color: #06c;
}
td a:hover{
	text-decoration: underline;
	color: #dd4c6b;
}
#classify{
	width: 400px;
	text-align: center;
}
#p_status{
	width: 10%;
	color: red;
}
.inlineLog{
	background: #ffea8c !important;
	padding: 0;
}
#rank_id{
	width: 8%;
}
#user_name{
	width: 14%;
}
#user_info{
	width: 70%;
}
#user_score{
	width: 8%;
}

/*table*/

/*setting*/
#setting{
	width: 500px;
	margin: 20px auto;
}
h2{
	font-weight: normal;
}
.set_ul{
	list-style-type: none;
}
ul.set_ul li{
	margin: 10px;
}
span.ul_left{
	display: block;
	float: left;
	width: 100px;
	text-align: right;
}
ul.set_ul li input, ul.set_ul li textarea{
	color: #a0a0a0;
}
#set_submit{
	font-family: "微软雅黑";
	font-size: 12px;
	margin: 10px 5px;
	padding: 7px 14px;
	background-color: #dd4c6b;
	border: 1px solid #dd4c6b;
	color: white;
}
#set_submit:hover{
	background-color: #ee5d7e;
}
/*setting*/






















/*problem*/
#main_p{
	float: left;
	width: 800px;
	margin: 0 10px;
	padding: 0 20px;
}
#problemInfo{
	float: right;
	margin-top: 30px;
	border: 1px solid #ddd;
	padding: 2px;
	text-align: center;
	font-size: 14px;
}
.key{
	padding: 0 20px;
	background-color: #ddd;
}
#problemContent{
	float: right;
	font-size: 13px;
}
pre {
    overflow: auto;
    font-family: 'Droid Sans Mono', Consolas, Courier New, monospace;
}
#code{
	width: auto;
	margin: 3px 10px;
	padding: 3px 20px;
	font-family: "微软雅黑";
	font-size: 16px;
}
#code a{
	text-decoration: none;
	color: #dd4c6b;
}
#code a:hover{
	text-decoration: underline;
	color: #303030;
}
#codearea{
	/*display: none;*/
	padding: 20px 0;
}
#compiler_id{
	margin: 0.5em 0;
	width: 80px;
}
#code_content{
	width: 100%;
	height: 400px;
}
.field{
	margin: 10px 0;
}
label{
	font-weight: bold;
	font-size: 14px;
	margin: 10px 0;
}
/*problem*/








/*main*/